#!/bin/bash

# Check for updates and install all required
sudo apt-get update
sudo apt-get install \
  apt-transport-https \
  ca-certificates \
  curl \
  gnupng2 \
  software-properties-common
  
# Download docker's official GPG key:
curl -fsSL https://download.docker.com/linux/debian/gpg | sudo apt-key add -

# Add the stable repository
sudo add-apt-repository \
  "deb [arch=amd64] https://download.docker.com/linux/debian \
  $(lsb_release -cs) \
  stable"

# Install docker
sudo apt-get update
sudo apt-get install docker-ce
