<div class="row" style="text-align:center">
  <!-- Form for submitting queries -->
  <div id="formSection">
    <form>
      <div class="row">
        <div class="jumbotron">
          <div class="container">
            <div class="col-md-4 col-md-offset-4 col-xs-12">
              <input id="geneForm" class="form-control" placeholder="Type a Gene" ng-model="gene"></input>
            </div>
            <div class="col-md-6 col-md-offset-3 col-xs-12">
              <md-button id="submit" ng-click="submit()" type="submit" class="md-raised md-primary">Submit</md-button>
            </div>
          </div>
          <div class="alert alert-danger no-margin" style="margin:auto;width:20%;margin-top:5px" ng-show="errorState == true">Gene not found -- Try another</div>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-xs-12">
        <select class="form-control" ng-model="selectedMethod" ng-options="method.type for method in methods"></select>
      </div>
    </div>

    <!-- Time points selection -->
    <div ng-show="selectedMethod.value=='0'" class="row">
      <p id="instructions"><b>View Time Points:</b></p>
      <div class="col-md-6 col-md-offset-3 col-xs-12">
        <label ng-repeat="timepoint in timepoints">
          <md-checkbox type="checkbox" value="{{timepoint}}" ng-model="timepoint.selected"> {{timepoint.name}}</md-checkbox><span style="margin:20px"></span>
        </label>
        <br>
        <md-button class="md-raised" ng-click="updateAllTimepoints(true)">Select All</md-button>
        <md-button class="md-raised" ng-click="updateAllTimepoints(false)">Deselect All</md-button>
      </div>
    </div>

    <!-- Cell type selection -->
    <div ng-show="selectedMethod.value=='1'"  class="row">
      <div class="text-left">
        <div class="text-center">
          <p id="instructions"><b>View Cell Type:</b></p>
        </div>
        <span class="col-md-4 col-md-offset-4 col-xs-12">
          <select class="form-control" ng-model="selectedCellType" ng-options="celltype.name for celltype in celltypes" ng-change="selectCelltype(selectedCellType.name)"></select>
        </span>
      </div>
    </div>
  </div>

  <!-- Section for displaying results of query -->
  <div id="queryResults" class="row">
    <!-- Display expression charts -->
    <div id="expressionCharts" ng-show="selectedMethod.value == 0">
      <span ng-repeat="timepoint in timepointsArray">
        <div ng-show="timepoints[$index].selected" class="bare-chart" celle-bar-chart expr="timepointsData[timepoint]"></div>
      </span>
    </div>

    <!-- Display cell line chart -->
    <div ng-show="selectedMethod.value == 1">
      <div id="lineChart" class="row" celle-line-chart cellexpressions="cellExpressions"></div>
    </div>
  </div>
</div>
