# General
/node_modules
/.*
!/.gitignore
!/.jshintrc
!/.csslintrc
Makefile
dump/

# Configuration
config/
config/front-end/*

# Datafiles
bin/*.csv

# Docker images
dist/build/*_production

# Testing
src/tests.webpack.js.map

# Security
rsa_id*

# Logs/Errors
.DS_Store
npm-debug.log

*.retry
