# General
/node_modules
/.*
!/.gitignore
!/.jshintrc
!/.csslintrc
Makefile
dump/

# Configuration
config/

# Datafiles
bin/p0fullexpression*
bin/p7fullexpression*

# Testing
src/tests.webpack.js.map

# Security
rsa_id*

# Logs/Errors
.DS_Store
npm-debug.log
